#loading {
    position: relative;
    // background: #212121;
    overflow: hidden;

    .loading__black {
        background: #212121;
        height: 100vh;
    }

    // .loading__text {
    //     position: absolute;
    //     display: flex;
    //     height: 100vh;
    //     width: 100vw;
    //     margin: 0;
    //     top: 0;
    //     left: -76px;
    // }

    .loading__text {
        // height: 100vh;
        // width: 100vw;
        // margin: 0;
        // top: 0;
        // left: -85px;
        display: none;

        @media (min-width: 900px) {
            position: absolute;
            left: -340px;
            top: 245px;
            display: flex;
        }
    }

    .loading__title {
        font-size: 130px;
        color: #fafafa;
        transform: rotate(-90deg);
        margin: 0;
    }

    .loading__leaf {
        position: absolute;
        right: -40px;
        bottom: -80px;
        transform: rotate(-79deg);

        img {
            transform: rotate(-79deg);
            height: 600px;
        }
    }
}
