@import url(//db.onlinewebfonts.com/c/8a86b3e611f41da6ca263bf6c73dc65b?family=GDSage-Bold);
@import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

@font-face {
    font-family: 'GDSage-Bold';
    src: url('//db.onlinewebfonts.com/t/8a86b3e611f41da6ca263bf6c73dc65b.eot');
    src: url('//db.onlinewebfonts.com/t/8a86b3e611f41da6ca263bf6c73dc65b.eot?#iefix') format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/8a86b3e611f41da6ca263bf6c73dc65b.woff2') format('woff2'),
        url('//db.onlinewebfonts.com/t/8a86b3e611f41da6ca263bf6c73dc65b.woff') format('woff'),
        url('//db.onlinewebfonts.com/t/8a86b3e611f41da6ca263bf6c73dc65b.ttf') format('truetype'),
        url('//db.onlinewebfonts.com/t/8a86b3e611f41da6ca263bf6c73dc65b.svg#GDSage-Bold') format('svg');
}

@font-face {
    font-family: 'Acumin Variable Concept';
    src: url('//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot');
    src: url('//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix') format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2') format('woff2'),
        url('//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff') format('woff'),
        url('//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf') format('truetype'),
        url('//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept') format('svg');
}

* {
    box-sizing: border-box;
}

html {
    color: #212121;
    font-family: 'Acumin Variable Concept';
    font-size: 14px;
    background: #fafafa;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.title-spaced {
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.fade-button {
    border: 1px solid #212121;
    color: #212121;
    padding: 10px 30px 8px;
    border-radius: 20px;
    text-transform: uppercase;
    background: #fafafa;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background: #212121;
        color: white;
        border: 1px solid white;
    }
}

.fade-grey-hover {
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: grey;
    }
}

.site {
    overflow-x: hidden;
    position: relative;

    @media (min-width: 900px) {
        position: unset;
        overflow-x: unset;
    }
}
